f1 {
    display: flex;
    flex: 2;
}

f2 {
    display: flex;
    flex: 2;
}

//topbar
.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;

    .topbarWrapper {
        height: 100%;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            font-weight: bold;
            font-size: 30px;
            color: darkblue;
            cursor: pointer;
        }

        .topRight {
            display: flex;
            align-items: center;

            .topbarIconContainer {
                position: relative;
                cursor: pointer;
                margin-right: 10px;
                color: #555;
            }

            .topIconBadge {
                width: 15px;
                height: 15px;
                position: absolute;
                top: -5px;
                right: 0px;
                background-color: red;
                color: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
            }

            .topAvatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}

//sidebar
.sidebar {
    display: flex;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;

    .sidebarWrapper {
        padding: 20px;
        color: #555;

        .sidebarMenu {
            margin-bottom: 10px;

            .sidebarTitle {
                font-size: 13px;
                color: rgb(187, 186, 186);
            }

            .sidebarList {
                list-style: none;
                padding: 5px;

                .sidebarListItem {
                    padding: 5px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;

                    .sidebarIcon {
                        margin-right: 5px;
                        font-size: 20px !important;
                    }
                }

                .sidebarListItem.active,
                .sidebarListItem:hover {
                    background-color: rgb(240, 240, 255);
                }
            }
        }
    }
}

//UPDATE PRODUCT
.product {
    flex: 4;
    padding: 20px;

    .productTitleContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .productTop {
        display: flex;
    }

    .productTopLeft,
    .productTopRight {
        flex: 1;
    }

    .productTopRight {
        padding: 20px;
        margin: 20px;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    }

    .productInfoImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
    }

    .productInfoTop {
        display: flex;
        align-items: center;
    }

    .productName {
        font-weight: 600;
    }

    .productInfoBottom {
        margin-top: 10px;
    }

    .productInfoItem {
        width: 150px;
        display: flex;
        justify-content: space-between;
    }

    .productInfoValue {
        font-weight: 300;
    }

    .productBottom {
        padding: 20px;
        margin: 20px;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    }

    .productForm {
        display: flex;
        justify-content: space-between;
    }

    .productFormLeft {
        display: flex;
        flex-direction: column;
    }

    .productFormLeft>label {
        margin-bottom: 10px;
        color: gray;
    }

    .productFormLeft>input {
        margin-bottom: 10px;
        border: none;
        padding: 5px;
        border-bottom: 1px solid gray;
    }

    .productFormLeft>select {
        margin-bottom: 10px;
    }

    .productUploadImg {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        object-fit: cover;
        margin-right: 20px;
    }

    .productFormRight {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .productUpload {
        display: flex;
        align-items: center;
    }

    .productButton {
        border: none;
        padding: 5px;
        border-radius: 5px;
        background-color: darkblue;
        color: white;
        font-weight: 600;
        cursor: pointer;
    }
}

//NEW PRODUCT
.newProduct {
    flex: 4;

    .addProductForm {
        margin-top: 10px;
    }

    .addProductItem {
        width: 250px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .addProductItem>label {
        color: gray;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .addProductItem>input {
        padding: 10px;
    }

    .addProductItem>select {
        padding: 10px;
    }

    .addProductButton {
        margin-top: 10px;
        padding: 7px 10px;
        border: none;
        border-radius: 10px;
        background-color: darkblue;
        color: white;
        font-weight: 600;
        cursor: pointer;
    }
}

//NEW USER
.newUser {
    flex: 4;

    .newUserForm {
        display: flex;
        flex-wrap: wrap;
    }

    .newUserItem {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-right: 20px;
    }

    .newUserItem>label {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        color: rgb(151, 150, 150);
    }

    .newUserItem>input {
        height: 20px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 5px;
    }

    .newUserGender>input {
        margin-top: 15px;
    }

    .newUserGender>label {
        margin: 10px;
        font-size: 18px;
        color: #555;
    }

    .newUserSelect {
        height: 40px;
        border-radius: 5px;
    }

    .newUserButton {
        width: 200px;
        border: none;
        background-color: darkblue;
        color: white;
        padding: 7px 10px;
        font-weight: 600;
        border-radius: 10px;
        margin-top: 30px;
        cursor: pointer;
    }
}

//PRODUCT LIST
.productList {
    flex: 4;

    .productAddButton {
        width: 80px;
        border: none;
        padding: 5px;
        background-color: teal;
        color: white;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin: 1rem;
    }

    .productListItem {
        display: flex;
        align-items: center;
    }

    .productListImg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }

    .productListEdit {
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        background-color: #3bb077;
        color: white;
        cursor: pointer;
        margin-right: 20px;
    }

    .productListDelete {
        color: red;
        cursor: pointer;
    }
}